<div class="aegios_wrapper">
    <section class="contact-us-img">
        <img src="assets/images/contact-us/contact.jpg" alt="contact-us">
    </section>

    <section class="section-1">
        <div class="container inner-flex flex-gap-small">
            <div class="breadcrumb inner-flex ptb-30">
                <ul class="bg-color">
                    <li><a routerLink="/" class="red font_18">Home</a></li>
                    <li><a class="font_18">Contact Us</a></li>
                </ul>
            </div>

            <div class="contact-main inner-flex flex-gap-big flex-dir-row">
                <div class="contact-left txt-center inner-flex flex-gap-medium wow fadeInLeft"  data-wow-delay=".3s" data-wow-duration="1.5s">
                    <div class="inner-flex">
                        <div class="contact-box inner-flex alc">
                            <div class="location-icon" style="width: 40px;">
                                <img src="assets/images/contact-us/location.png" alt="location">
                            </div>
                            <div class="contact-heading">
                                <h2 class="red-color font_22 fw400">Corporate Office</h2>
                            </div>
                            <div class="contact-paragraph">
                                <p>Ground Floor, W1, Inside lane of Newyork Timber, Iskon Ambli Road, Sarkhej -
                                    Gandhinagar Hwy, Ahmedabad</p>
                            </div>
                        </div>
                    </div>
                    <div class="inner-flex">
                        <div class="contact-box inner-flex alc">
                            <div class="location-icon" style="width: 40px;">
                                <img src="assets/images/contact-us/location.png" alt="location">
                            </div>
                            <div class="contact-heading">
                                <h2 class="red-color font_22 fw400">Delhi Office</h2>
                            </div>
                            <div class="contact-paragraph">
                                <p>Unit No 406, DLF Tower B, Jasola District Centre, New Delhi - 110025</p>
                            </div>
                        </div>
                    </div>
                    <div class="inner-flex">
                        <div class="contact-box inner-flex alc">
                            <div class="location-icon" style="width: 40px;">
                                <img src="assets/images/contact-us/location.png" alt="location">
                            </div>
                            <div class="contact-heading">
                                <h2 class="red-color font_22 fw400">Manufacturing Unit</h2>
                            </div>
                            <div class="contact-paragraph">
                                <p>Survey No. 683 Min Khewat No 1/1 Min, Khata No 65/43 Village Logate Kathua Jammu and
                                    Kashmir - 184104</p>
                            </div>
                        </div>
                    </div>
                    <div class="inner-flex">
                        <div class="contact-box inner-flex alc">
                            <div class="location-icon" style="width: 40px;">
                                <img src="assets/images/contact-us/contact.png" alt="contact">
                            </div>
                            <div class="contact-heading">
                                <h2 class="red-color font_22 fw400">General Inquiries</h2>
                            </div>
                            <div class="contact-paragraph inner-flex black-color">
                                <a href="tel:+919541899015" class="black-color font_17"><i class="fa fa-phone"></i>
                                    +919541899015</a>
                                <a href="mailto:inquiry@aegios.com" class="black-color font_17"><i
                                        class="fa fa-envelope"></i> Inquiry@aegios.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-right inner-flex wow fadeInRight"  data-wow-delay=".3s" data-wow-duration="1.5s">
                    <h2 class="uppercase font_30 fw400 red-color">We welcome your inquiries - Let's connect!</h2>
                    <div class="inner-flex">
                        <div class="form">
                            <div class="form">
                                <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                                    <div class="inner-flex flex-dir-row flex-gap-small row">
                                        <!-- Name Field -->
                                        <div class="form-group w100">
                                            <label for="Name">Name <span class="required">*</span></label>
                                            <input type="text" id="Name" name="Name" [(ngModel)]="formData.Name"
                                                #Name="ngModel" class="form-control" placeholder="Enter Your Name"
                                                required />
                                            <div *ngIf="Name.touched && Name.errors" class="error-message">
                                                <div *ngIf="Name.errors.required">Name is required</div>
                                            </div>
                                        </div>

                                        <!-- Email Field -->
                                        <div class="form-group w100">
                                            <label for="Email">Email <span class="required">*</span></label>
                                            <input type="email" id="Email" name="Email" [(ngModel)]="formData.Email"
                                                #Email="ngModel" class="form-control" placeholder="Enter Your Email"
                                                required />
                                            <div *ngIf="Email.touched && Email.errors" class="error-message">
                                                <div *ngIf="Email.errors.required">Email is required</div>
                                                <div *ngIf="Email.errors.email">Please enter a valid email</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Contact Number & Company Name -->
                                    <div class="inner-flex flex-dir-row flex-gap-small row">
                                        <div class="form-group w100">
                                            <label for="ContactNumber">Contact Number <span
                                                    class="required">*</span></label>
                                            <input type="text" id="ContactNumber" name="ContactNumber"
                                                [(ngModel)]="formData.ContactNumber" #ContactNumber="ngModel"
                                                class="form-control" placeholder="Enter Your Contact Number" required
                                                pattern="^\d{10}$" (keypress)="onKeyPress($event)" maxlength="10" />
                                            <div *ngIf="ContactNumber.touched && ContactNumber.errors"
                                                class="error-message">
                                                <div *ngIf="ContactNumber.errors.required">Contact number is required
                                                </div>
                                                <div *ngIf="ContactNumber.errors.pattern">Please enter valid number
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group w100">
                                            <label for="CompanyName">Company Name <span
                                                    class="required">*</span></label>
                                            <input type="text" id="CompanyName" name="CompanyName"
                                                [(ngModel)]="formData.CompanyName" #CompanyName="ngModel"
                                                class="form-control" placeholder="Company Name" />
                                        </div>
                                    </div>

                                    <!-- Country and Interest -->
                                    <div class="inner-flex flex-dir-row flex-gap-small row">
                                        <div class="form-group w100">
                                            <label for="Country">Country <span class="required">*</span></label>
                                            <select id="Country" name="Country" [(ngModel)]="formData.Country"
                                                #CountryModel="ngModel" class="form-control" required>
                                                <option value="" disabled selected>Select a country</option>
                                                <option *ngFor="let country of countries" [value]="country">{{ country
                                                    }}</option>
                                            </select>
                                            <div *ngIf="CountryModel.touched && CountryModel.errors?.required"
                                                class="error-message">
                                                Please select a Country
                                            </div>
                                        </div>

                                        <div class="form-group w100">
                                            <label for="InterestedIn">Interested in <span
                                                    class="required">*</span></label>
                                            <select id="InterestedIn" name="InterestedIn"
                                                [(ngModel)]="formData.InterestedIn" #InterestedIn="ngModel"
                                                class="form-control" required>
                                                <option value="" disabled selected>Select an option</option>
                                                <option *ngFor="let interest of interested_in" [value]="interest">{{
                                                    interest }}</option>
                                            </select>
                                            <div *ngIf="InterestedIn.touched && InterestedIn.errors?.required"
                                                class="error-message">
                                                Please select an option
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Comments -->
                                    <div class="form-group">
                                        <label for="Comments">Comments</label>
                                        <textarea id="Comments" name="Comments" [(ngModel)]="formData.Comments"
                                            #Comments="ngModel" class="form-control"
                                            placeholder="Enter your Comments"></textarea>
                                    </div>

                                    <!-- Submit Button -->
                                    <button type="submit" class="btn wmc font_17">
                                        Submit Message
                                        <i class="fa-solid fa-paper-plane planicon" style="margin-left: 10px;"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d135463.72197822636!2d72.4302651287588!3d23.00542183742303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x395e8589bb3136cb%3A0xd4955c83075ece11!2sAegios%20Polyfilms%20Pvt.%20Ltd.%2C%20Ground%20Floor%2C%20W1%2C%20Inside%20lane%20of%20Newyork%20Timber%2C%20Iskon%20Ambli%20Road%2C%20Sarkhej%20-%20Gandhinagar%20Hwy%2C%20Ahmedabad!3m2!1d23.0244772!2d72.5028158!5e0!3m2!1sen!2sin!4v1691406971924!5m2!1sen!2sin"
                                    height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>