<div class="aegios_wrapper">
    <section class="about-us-img">
        <img src="assets/images/about-us/about-us.jpg" alt="">
    </section>

    <section>
        <div class="container">
            <div class="breadcrumb inner-flex p-30">
                <ul class="bg-color">
                    <li><a routerLink="/" class="red font_18">Home</a></li>
                    <li><a class="font_18">About Us</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="p-30">
        <div class="container">
            <div class="sec2-grid">
                <div class="sec2-img">
                    <img src="assets/images/about-us/about1.png" alt="about-us">
                </div>
                <div class="sec2-details inner-flex">
                    <h2 class="heading uppercase">
                        About Us
                    </h2>
                    <p class=" mr-20">Aegios Polyfilms Private Limited is an emerging force in manufacturing sustainable
                        BOPET films,
                        Metalized, BOPP films, and Polyester (Resins &amp; Chips) in India. Born under the Atmanirbhar
                        India Mission, we combine
                        advanced European technologies with a strong focus on recycling and green production. The
                        company has set up a state-of-the-art
                        greenfield project in Logate district, Kathua, Jammu &amp; Kashmir, to manufacture BOPET &amp;
                        Polyester Chips.
                        The 10.6-meter BOPET line is currently operational, with the Resin plant set to commence
                        operations in March 2024. Additionally,
                        we are on track to commission the 10.4-meter BOPP line by the end of 2025. </p>
                    <p class="mb-40">Aegios aims to become a key player in the polyfilms and packaging industry focused
                        on customer
                        satisfaction with its state-of-the-art high-performance lines, enhancing its capability to
                        fulfil customers’ needs
                        and fostering the development of new customized films for different applications and tailor-made
                        products.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="mini-section-padding">
        <div class="section-3-main">
            <div class="sec-3-detail">
                <div class="sec-3-redbox">
                    <p class="txt-center white-color">Founded by <b class="font_23">Mr. Amit Agrawal</b> and <b
                            class="font_23">Mr. Saurabh Agrawal</b>, our company is driven by a vision of transforming
                        the industry. With our state-of-the-art plant in Jammu, we have a production capacity of:</p>
                </div>
                <!-- <div class="sec-3-boxes">
                    <div class="sec-3-box inner-flex">
                        <div class="icon">
                            <img src="assets/images/preloader.png" alt="">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <section class="section-4 bg-about-us ">
        <div class="container section-padding">
            <div class="sec-4-details">
                <p class="txt-center font_21" style="color: #000000;">At Aegios, we prioritize
                    environmental responsibility and employ eco-friendly practices throughout our manufacturing
                    processes.
                    By embracing sustainability and utilizing cutting-edge technologies, we deliver high-quality films
                    while
                    minimizing our impact on the planet.</p>
            </div>
        </div>
    </section>

    <section class="mini-section-padding section-5">
        <div class="inner-flex">
            <div class="sec-5-details">
                <p class="mb-35" style="text-align: center;">Our customer-centric approach ensures that we understand
                    and
                    meet the unique needs of our clients. With our dedicated team and commitment to excellence, we
                    strive to
                    exceed customer expectations and build long-lasting partnerships based on these pillars:</p>
            </div>
            <div class="sec-6-img">
                <img src="assets/images/about-us/about4-para.png" alt="">
            </div>
        </div>
    </section>
</div>