<div class="aegios_wrapper">
    <section class="sustainability-img">
        <img src="assets/images/sustainability/sustainability.jpg" alt="sustainability">
    </section>

    <section class="section-1">
        <div class="container">
            <div class="breadcrumb inner-flex ptb-30">
                <ul class="bg-color">
                    <li><a routerLink="/" class="red font_18">Home</a></li>
                    <li><a class="font_18">Sustainability</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="ptb-30 section-2">
        <div class="container">
            <div class="inner-flex flex-gap-medium">
                <div class="sustainability-p wow fadeInRight"  data-wow-delay=".3s">
                    <p class="font_17">At Aegios, we are deeply committed to sustainability and strive to be a leading
                        provider of total packaging solutions while minimizing our environmental footprint. We
                        consistently invest in sustainability, focusing on economic, ecological, and social aspects.</p>
                </div>
                <div class="sustainability-details inner-flex wow fadeInRight"  data-wow-delay=".3s">
                    <div class="sustainability-h">
                        <h2 class="uppercase font_30">Product Sustainability</h2>
                    </div>
                    <div class="sustainability-p">
                        <p class="font_17">We offer a range of sustainable packaging solutions that contribute to a
                            greener future.</p>
                    </div>
                    <div class="sustainability-img">
                        <img src="assets/images/sustainability/sustanability1.jpg" alt="sustainability" class="db">
                        <img src="assets/images/sustainability/sustan1-mobile.png" alt="sustainability" class="dn">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-3">
        <div class="container sus-section-padding">
            <div class="inner-flex flex-gap-medium">
                <div class="sec-3-hp txt-center inner-flex wow fadeInRight"  data-wow-delay=".3s">
                    <div class="sec-3-heading">
                        <h2 class="uppercase white-color font_40">Replacements for a Greener Future</h2>
                    </div>
                    <div class="sec-3-paragraph">
                        <p class="white-color font_20 font-weight-bold">We actively work with industries to replace less
                            sustainable materials with eco-friendly alternatives.</p>
                    </div>
                </div>
                <div class="sec-3-grid">
                    <div class="sec-3-details inner-flex wow fadeInUp"  data-wow-delay=".3s">
                        <p class="font_20 red-color">Replacing PVC Twist Wrap Film with Green PET Wrap Film in the
                            Confectionary Industry</p>
                        <p class="font_17 black-color">By using PET film, we help reduce the environmental impact while
                            maintaining packaging integrity and consumer appeal.</p>
                    </div>
                    <div class="sec-3-details inner-flex wow fadeInUp"  data-wow-delay=".3s">
                        <p class="font_20 red-color">Substituting Aluminum Foil with Metallized Barrier PET Film in Food
                            Packaging</p>
                        <p class="font_17 black-color">Our metallized barrier PET film offers a sustainable alternative
                            to aluminum foil, reducing resource consumption and promoting recyclability.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-4 ptb-30 pb-0">
        <div class="container">
            <div class="sec-4-hpimg txt-center inner-flex wow fadeInRight"  data-wow-delay=".3s">
                <div class="sec-4-heading">
                    <h2 class="red-color font_30 fw400 uppercase">Future Initiatives</h2>
                </div>
                <div class="sec-4-paragraph">
                    <p class="font_17 fw400">We are dedicated to continuously improving our sustainability efforts.</p>
                </div>
                <div class="sec-4-img">
                    <img src="assets/images/sustainability/sustanability3.png" alt="sustainability" class="db">
                </div>
            </div>

            <div class="sec-4-mob dn pb-30">
                <div class="sec-4-boxs inner-flex alc">
                    <div class="sec-4-hp sec-4-box inner-flex">
                        <h3 class="red-color font_20 fw400">Replacing PVC Twist Wrap Film with Green PET Wrap Film in the Confectionary Industry</h3>
                        <p class="font_17 lh-25">By using PET film, we help reduce the environmental impact while maintaining packaging integrity and consumer appeal.</p>
                    </div>
                    <div class="sec-4-hp sec-4-box inner-flex">
                        <h3 class="red-color font_20 fw400">Substituting Aluminum Foil with Metallized Barrier PET Film in Food Packaging</h3>
                        <p class="font_17 lh-25">Our metallized barrier PET film offers a sustainable alternative to aluminum foil, reducing resource consumption and promoting recyclability.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-5 wow fadeInRight"  data-wow-delay=".3s">
        <div class="container ptb-30">
            <div class="sec-5-hpimg inner-flex">
                <div class="sec-5-heading">
                    <h2 class="red-color font_30 fw400 uppercase">Energy Conservation Measures</h2>
                </div>
                <div class="sec-5-paragraph">
                    <p class="font_17 fw400">We actively seek energy-saving measures throughout our operations.</p>
                </div>
                <div class="sec-5-img">
                    <img src="assets/images/sustainability/sustan4.png" alt="sustan4" class="db">
                    <img src="assets/images/sustainability/sustan4-mobile.png" alt="sustan4-mobile" class="dn">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container sus-section-padding">
            <div class="sustainability-l-p wow fadeInRight"  data-wow-delay=".3s">
                <p class="font_17">At Aegios, sustainability is not just a buzzword but a core value ingrained in
                    everything we do. We are dedicated to providing sustainable packaging solutions, reducing our
                    environmental footprint, and creating a better future for generations to come.</p>
            </div>
        </div>
    </section>
</div>