<div class="aegios_wrapper">
    <section class="quality-img">
        <img src="assets/images/quality/quality.jpg" alt="quality">
    </section>

    <section>
        <div class="container">
            <div class="breadcrumb inner-flex ptb-30">
                <ul class="bg-color">
                    <li><a routerLink="/" class="red font_18">Home</a></li>
                    <li><a class="font_18">Quality</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="ptb-30">
        <div class="container">
            <div class="quality-details inner-flex">
                <div class="quality-h wow fadeInRight"  data-wow-delay=".3s">
                    <h2 class="uppercase font_30">Unparalleled quality with sustainable precision</h2>
                </div>
                <div class="quality-p wow fadeInRight"  data-wow-delay=".3s">
                    <p class="font_17">Our commitment to quality is evident at every stage of our packaging production
                        process. Here's how we maintain exceptional quality:</p>
                </div>
                <div class="quality-img wow fadeInRight"  data-wow-delay=".3s">
                    <img src="assets/images/quality/quality.png" alt="quality" class="db">
                    <img src="assets/images/quality/quality-mob.png" alt="quality" class="dn">
                </div>
                <div class="quality-l-p wow fadeInRight"  data-wow-delay=".3s">
                    <p class="font_17">At Aegios, maintaining superior quality is a fundamental aspect of our operations. We believe that by prioritizing quality at every step, we can deliver packaging solutions that are truly exceptional in terms of sustainability, reliability, durability, and aesthetics.</p>
                </div>
            </div>
            <!-- <div class="quality-img-p">
                <div class="quality-img">
                    <img src="assets/images/quality/quality.png" alt="">
                </div>
                <div class="quality-l-p">
                    <p class="font_17">At Aegios, maintaining superior quality is a fundamental aspect of our operations. We believe that by prioritizing quality at every step, we can deliver packaging solutions that are truly exceptional in terms of sustainability, reliability, durability, and aesthetics.</p>
                </div>
            </div> -->
        </div>
    </section>
</div>