<div class="aegios_wrapper">
  
  <header>
    <div class="nav-sticky">
      <div class="nav">
        <div class="logo"><img src="assets/images/logo.png" alt=""></div>
        <ul class="links">
          <li class="link"><p class="font_14"><a routerLink="/home" routerLinkActive="active" >home</a></p></li>
          <li class="link">
            <p class="font_14 dropdown_btn">company +</p>
            <div class="dropdown">
              <p class="font_14"><a routerLink="/about-us" routerLinkActive="active" >About us</a></p>
              <p class="font_14"><a routerLink="/quality" routerLinkActive="active" >Quality</a></p>
              <p class="font_14"><a routerLink="/vmv" routerLinkActive="active" >Vision Mission Values</a></p>
            </div>
          
          </li>
          <li class="link">
            <p class="font_14 dropdown_btn">products +</p>
            <div class="dropdown">
              <p class="font_14"><a routerLink="/bopet-films" routerLinkActive="active" >BOPET Films</a></p>
              <p class="font_14"><a routerLink="/metalized-films" routerLinkActive="active" >Metalized Films</a></p>
              <p class="font_14"><a routerLink="/polyester" routerLinkActive="active" >Polyester Resins & Chips</a></p>
              <p class="font_14"><a routerLink="/bopp-films" routerLinkActive="active" >BOPP Films (Coming Soon)</a></p>
            </div>
          
          </li>
          <li class="link"><p class="font_14"><a routerLink="/sustainability" routerLinkActive="active" >sustainability</a></p></li>

          <li class="link"><p class="font_14"><a routerLink="/career" routerLinkActive="active" >career</a></p></li>
          <li class="link"><p class="font_14"><a routerLink="/contact-us" routerLinkActive="active" >contact-us</a></p></li>

        </ul>
      </div>
    </div>
  </header>
  
  <router-outlet></router-outlet>

</div>
