<div class="aegios_wrapper">

  <!-- <div class="page-loader">
    <div class="img-container">
      <img src="assets/images/preloader.png" alt="preLoader">
    </div>
  </div> -->

  <header class="nav-sticky">
    <div class="w100">
      <div class="nav flex-gap-big" [class.active]="isMenuOpen">
        <div class="logo"><a (click)="toggleMenu($event)" routerLink="/"><img src="assets/images/logo.png"
              alt="logo"></a>
        </div>
        <div class="menu_btn font_30" (click)="toggleMenu($event)"><i class="fa-solid fa-bars"></i></div>
        <ul class="links flex-gap-small">
          <div class="menu_head">
            <div class="white_logo_mob"><a (click)="toggleMenu($event)" routerLink="/"><img src="assets/images/logo.png"
                  alt="logo"></a></div>
            <div class="menu_close font_30" (click)="toggleMenu($event)"><i class="fa-solid fa-xmark"
                style="color: #ffffff;"></i></div>
          </div>
          <li class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="font_14"><a (click)="toggleMenu($event)" routerLink="/">home</a></p>
          </li>
          <li class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="font_14 dropdown_btn" (click)="toggleDropdown()">company <span>+</span></p>
            <div class="dropdown" [class.openDD]="isDropDownOpen">
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/about-us">About Us</a></p>
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/quality">Quality</a></p>
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/vmv">Vision Mission Values</a></p>
            </div>
          </li>

          <li class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="font_14 dropdown_btn" (click)="toggleDropdown2()">products <span>+</span></p>
            <div class="dropdown" [class.openDD]="isDropDownOpen2">
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/products/bopet-films">BOPET Films</a></p>
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/products/metalized-films">Metalized
                  Films</a></p>
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/products/polyester">Polyester Resins &
                  Chips</a>
              </p>
              <p class="font_14" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                  (click)="toggleMenu($event)" routerLink="/products/bopp-films">BOPP Films (Coming
                  Soon)</a>
              </p>
            </div>
          </li>

          <li class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="font_14"><a (click)="toggleMenu($event)" routerLink="/sustainability">sustainability</a></p>
          </li>
          <li class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="font_14"><a (click)="toggleMenu($event)" routerLink="/career">career</a></p>
          </li>
          <li class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="font_14"><a (click)="toggleMenu($event)" routerLink="/contact-us">contact-us</a></p>
          </li>
        </ul>
        <div class="nav-overlay" (click)="toggleMenu($event)"></div>
      </div>
    </div>
  </header>


  <router-outlet></router-outlet>

  <footer>
    <div class="footer-bg relative">
      <div class="footer-imgs">
        <div class="footer-img1">
          <img src="assets/images/footer/footer-shape-1 (1).png" alt="background image">
        </div>
        <div class="footer-img2">
          <img src="assets/images/footer/footer-shape-2.png" alt="background image">
        </div>
      </div>
      <div class="container">
        <div class="d_grid">
          <div class="footer-1">
            <div class="footer-1-main inner-flex">
              <a routerLink="/" class="footer-logo">
                <img src="assets/images/footer/white-logo.png" alt="white-logo">
              </a>
              <p class="white-color lh-25">
                At Aegios, we're committed to providing innovative, high-quality flexible packaging solutions to our
                customers.
              </p>
              <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGBXWlQJuvXnQAAAZak4zG4u3aeWOVBBYVxXhb-w4cDVxfpeu-PqIgBmNzSPuRVq-V0dK9e8O0RyKfTSg16rnyVansZQ-agOj7tHRPiXbA6JGEX6bkIa6zsxf0UlAujV02hsN8=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Faegios-polyfilms-pvt-ltd%2F"
                class="linkedin" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="footer-1">
            <div class="footer-header inner-flex white-color  ml-60">
              <h3 class="uppercase">Useful Links</h3>
              <a routerLink="/about-us" class="white-color">About Us</a>
              <a routerLink="/sustainability" class="white-color">Sustainability</a>
              <a routerLink="/career" class="white-color">Career</a>
              <a routerLink="/contact-us" class="white-color">Contact Us</a>
            </div>
          </div>
          <div class="footer-1">
            <div class="footer-header inner-flex white-color">
              <h3 class="uppercase">Contact Info</h3>
              <a href="#" class="white-color lh-25"><i class="fa fa-map-marker"></i>
                Ground Floor, W1, Inside lane of Newyork
                Timber, Iskon Ambli Road, Sarkhej - Gandhinagar Hwy, Ahmedabad
              </a>
              <a href="tel:+919541899015" class="white-color footer-flex"><i class="fa fa-phone"></i>
                <p> +91 9541899015 </p>
              </a>
              <a href="mailto:inquiry@aegios.com" class="white-color footer-flex"><i class="fa fa-envelope"></i>
                <p>Inquiry@aegios.com</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-warning footer-bg">
      <div class="container">
        <div class="txt-m-center">
          <span class="white-color lh-25">Disclaimer: Any use of the brand names/products are for illustration purpose
            only.
            Company does not own the brand and would not entertain any claims whatsoever.</span>
        </div>
      </div>
    </div>

    <div class="footer-copyright footer-bg">
      <div class="container">
        <div class="d_flex_footer">
          <div>
            <span class="white-color lh-25">
              Copyright © 2023. All Rights Reserved.
            </span>
          </div>
          <div>
            <a href="#" class="white-color lh-25">Privacy policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>