@import url('../styles.less');

header {
    background: @page-bg;
}

.nav-sticky {
    position: static;
    top: 0;

    .nav {
        display: flex;
        
        .links {
            display: flex;
            gap: 15px;

            .link{
                list-style: none;

                a {
                    color: @text-color;
                    text-decoration: none;
                }

                > p {
                    text-transform: uppercase;
                }
            }
        }
    }
}
.container {
    width: 72%;
    margin: 0 auto;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

footer {
    .footer-bg {
        background: #101010;
        z-index: 1;
    }
}