/* You can add global styles to this file, and also import other style files */

.aegios_wrapper img {
    width: 100%;
    max-width: 100%;
    justify-self: center;
}

.aegios_wrapper h1,
.aegios_wrapper h2,
.aegios_wrapper h3,
.aegios_wrapper h4,
.aegios_wrapper h5,
.aegios_wrapper h6 {
    margin: 0;
    padding: 0;
}

.aegios_wrapper h1 a {
    text-decoration: none;
    // color: #ffffff;
}

.aegios_wrapper p {
    margin-bottom: 0;
}

.aegios_wrapper .rounded {
    border-radius: 9999px;
}

#rounded_animate {
    transition: all 1s ease-in-out;
}

#fade_animation {
    transition: all 1s ease-in-out;
}

.aegios_wrapper .text_bold {
    font-weight: 900;
}

.aegios_wrapper .relative {
    position: relative;
}

.aegios_wrapper .absolute {
    position: absolute;
}

.aegios_wrapper .sticky {
    position: sticky;
}

.aegios_wrapper .d_flex {
    display: flex;
}

.aegios_wrapper .font_16 {
    font-size: 16px;
}

.aegios_wrapper .font_18 {
    font-size: 18px;
}

.aegios_wrapper .font_20 {
    font-size: 20px;
}

.aegios_wrapper .font_24 {
    font-size: 24px;
}

.aegios_wrapper .font_48 {
    font-size: 48px;
}

.aegios_wrapper .font_64 {
    font-size: 64px;
}

.aegios_wrapper .font_120 {
    font-size: 120px;
}

.aegios_wrapper .font_160 {
    font-size: 160px;
}

.aegios_wrapper .font_200 {
    font-size: 200px;
}

.aegios_wrapper .font_360 {
    font-size: 360px;
}

.aegios_wrapper .bg_transparent {
    background-color: transparent;
}

.aegios_wrapper .ovxhidden {
    overflow-x: hidden;
}

.aegios_wrapper .ovhidden {
    overflow: hidden;
}

.aegios_wrapper .radius8 {
    border-radius: 16px;
}

.font-weight-normal {
    font-weight: normal;
}


body,
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mtb0 {
    margin: 0 auto;
}

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.txt-center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.w70 {
    width: 70%;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.flex-gap-medium {
    gap: 48px;
}

.j-c-end {
    justify-content: end;
}

.j-c-c {
    justify-content: center;
}

.j-c-spb {
    justify-content: space-between;
}

.flex-gap-small {
    gap: 24px;
}

.flex-gap-big {
    gap: 96px;
}

.gap-16 {
    gap: 16px;
}

.gap0 {
    gap: 0 !important;
}

.section-padding {
    padding: 110px 0;
}

.section-padding-bottom {
    padding-bottom: 110px;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

@page-bg: #FFFFFF;
@text-color: #000000;

@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/lato/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('assets/fonts/lato/Lato-BlackItalic.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('assets/fonts/lato/Lato-BoldItalic.ttf');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('assets/fonts/lato/Lato-Italic.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('assets/fonts/lato/Lato-LightItalic.ttf');
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('assets/fonts/lato/Lato-Thin.ttf');
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('assets/fonts/lato/Lato-ThinItalic.ttf');
}

@lato-regular: Lato-Regular;
@lato-regular: Lato-Light;
@lato-regular: Lato-Thin;

body{
    font-family: @lato-regular;
}
