@import url('../../styles.less');

* {
    color: @text-color;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    // text-align: center;
    place-items: center;

    .left_side {
        display: flex;
        flex-direction: column;

        .head p{
            color: @text-hover-color;
        }

        .about p{
            color: #171151;
        }

        .btn{
            width: fit-content;
            height: fit-content;
            font-family: @lato-bold;
            background: linear-gradient(180deg, #fa431800 15.22%, #e92b4340 33.76%, #e92b438f 58.49%, #e92b438f 79.25%, #E92B43 100%);
            border-radius: 20px;
            display: inline-block;
            position: relative;
            z-index: 0;
            padding: 10px 25px;
            box-shadow: 5px 5px 5px 0px #bdc2c8;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: -webkit-fill-available;
                width: -webkit-fill-available;
                background: #fff;
                border-radius: 35px;
                z-index: -1;
                margin: 0px 2px 3px;
            }
        }
    }
}

.swiper_btn_container {
    position: absolute;
    right: 5%;
    top: 80%;
    display: flex;
    // width: 150px;
    gap: 30px;
    justify-content: center;
}

::ng-deep .swiper-slide {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
    position: relative;
    bottom: 20px; // adjust as needed
    z-index: 10;
    width: 50px;
    height: 50px;
    border: 1px solid #D1D6E0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::after {
        display: none; // remove default Swiper arrows
    }

    img {
        width: 20px;
        transition: opacity 0.3s ease;
    }

    .white {
        opacity: 0;
        position: absolute;
    }

    .red {
        opacity: 1;
        position: absolute;
    }

    &:hover {
        background-color: #EA2B44;
        border-color: #EA2B44;

        .white {
            opacity: 1;
        }

        .red {
            opacity: 0;
        }
    }
}
