@import url("../../styles.less");

.home_wrapper {
  overflow-x: hidden;
}

* {
  color: @text-color;
}

.grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  // text-align: center;
  place-items: center;
  width: 80%;
  margin: auto;

  // .right_side {
  // margin-left: auto;
  // width: 80%;
  // padding: 45px;
  // }

  .head h2 {
    font-weight: 100;
    color: @text-hover-color;
  }

  .about p {
    color: #171151;
  }

  .btn {
    width: fit-content;
    height: fit-content;
    font-family: @lato-bold;
    background: linear-gradient(180deg,
        #fa431800 15.22%,
        #e92b4340 33.76%,
        #e92b438f 58.49%,
        #e92b438f 79.25%,
        #e92b43 100%);
    border-radius: 20px;
    display: inline-block;
    position: relative;
    z-index: 0;
    padding: 10px 25px;
    box-shadow: 5px 5px 5px 0px #bdc2c8;

    .font_20 {
      color: #171151;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      background: #fff;
      border-radius: 35px;
      z-index: -1;
      margin: 0px 2px 3px;
    }
  }

  .left_side {
    display: flex;
    flex-direction: column;
  }
}

::ng-deep .swiper-container {
  overflow: hidden;
}

.swiper_btn_container {
  position: absolute;
  right: 5%;
  top: 92%;
  display: flex;
  // width: 150px;
  gap: 30px;
  justify-content: center;
}

::ng-deep .swiper-slide {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  position: relative;
  bottom: 20px; // adjust as needed
  z-index: 10;
  width: 50px;
  height: 50px;
  border: 1px solid #d1d6e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::after {
    display: none; // remove default Swiper arrows
  }

  img {
    width: 20px;
    transition: opacity 0.3s ease;
  }

  .white {
    opacity: 0;
    position: absolute;
  }

  .red {
    opacity: 1;
    position: absolute;
  }

  &:hover {
    background-color: #ea2b44;
    border-color: #ea2b44;

    .white {
      opacity: 1;
    }

    .red {
      opacity: 0;
    }
  }
}

.section2 {
  background-color: @section-bg;
}

.bottom_line {
  position: relative;

  // display: inline-block;
  &::before {
    content: "";
    width: 35px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    margin-right: 10px;
  }

  p {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    display: inline;
  }
}

.grid2 {
  width: 88%;
  grid-template-columns: 1.2fr 1fr;

  .about {
    .font_20 {
      color: @text-color;
      font-size: 17px;
    }
  }
}

.section4 {
  background: linear-gradient(#8a8eac 40%, white 40%);

  .grid3 {
    background: white;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    box-shadow: 0px 4px 50px rgba(0, 35, 90, 0.1);
  }
}

.grid3 {
  padding: 20px;
  grid-template-columns: 1fr 0.2fr;
  place-items: unset;

  .title {
    grid-column: 1 / span 2;
  }

  .swiper_btn_container {
    position: static;
    margin-left: auto;
    width: fit-content;
  }

  ::ng-deep .swiper-button-next,
  ::ng-deep .swiper-button-prev {
    top: 20px;
    bottom: unset;
  }

  .font_14 {
    font-size: 14px;
  }
}

.grid4 {
  grid-template-columns: repeat(auto, 1fr);
}

.section3 {
  .card {
    border-radius: 16px;
    // padding: 35px;
    width: 100%;

    .card-head {
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      z-index: 1;
      position: relative;

      img {
        transition: all .8s ease;
      }
    }

    &:hover {
      img {
        scale: 1.05;
      }

      .red-color {
        color: #171151;
      }
    }

    .card-body {
      position: relative;
      z-index: 2;
      border-radius: 8px;
      text-align: center;
      width: 95%;
      margin: 0 auto;
      margin-top: -80px;
      background: #FFFFFF;

      * {
        transition: all .8s ease;
      }

      .card_text_wrapper {
        padding: 20px 35px;
      }



      .p_text {
        span {
          color: #171151;
        }
      }

      .button {
        background: @red-bg;
        padding: 13px 30px;
        border-radius: 0 0 8px 8px;

        a {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
        }

        .more-btn-img {
          width: 30px;
          border: solid 1px #FFFFFF;
          border-radius: 50%;
          padding: 5px;
        }

        &:hover {
          background: #000;
        }
      }
    }
  }

  .swiper-wrapper {
    z-index: 1;
  }

  ::ng-deep .swiper-container {
    grid-column: 1 / span 2;
  }

  ::ng-deep .swiper-slide {
    width: calc(100% / 3.15) !important;
    min-width: 350px;
  }
}

.section4 {

  .block {
    border-radius: 16px;
    padding: 35px;
    width: 100%;

    &.block1 {
      background-color: #fa43180f;
    }

    &.block2 {
      background-color: #080c2412;
    }

    &.block3 {
      background-color: #0085ef14;
    }

    &.block4 {
      background-color: #080c2412;
    }

    .icon {
      @width: 60px;
      height: @width;
      width: @width;
      padding: 10px;
      background-color: #e92b43;
      border-radius: 50%;
      box-shadow: -4px -6px 0px #000000;

      img {
        transition: all .8s ease;
      }
    }

    &:hover .icon {
      img {
        transform: scale(1.1);
      }
    }

    .heading-text {
      text-transform: uppercase;
    }

    .p_text {
      line-height: 1.5rem;
    }
  }

  ::ng-deep .swiper-container {
    grid-column: 1 / span 2;
  }

  ::ng-deep .swiper-slide {
    width: calc(100% / 3.15) !important;
    min-width: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 90%;
    gap: 20px;

    .left_side {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .font_20 {
    font-size: 17px;
  }

  .font_48 {
    font-size: 45px;
  }

  .flex-gap-medium {
    gap: 30px;
  }

  .section-padding-top {
    padding-top: 70px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 90%;

    &.grid1 .left_side {
      order: 2;
    }

    &.grid1 .right_side {
      width: 50%;
    }
  }

  ::ng-deep .swiper-button-next,
  ::ng-deep .swiper-button-prev {
    bottom: 0px;
  }

  .swiper_btn_container {
    top: unset;
    bottom: 0;
  }
}

@media only screen and (max-width: 680px) {
  .section3 .grid.grid3 {
    width: 92%;
    padding: 0;



    ::ng-deep .swiper-slide {
      min-width: unset;
      width: 100% !important;
      // margin-right: 15px !important;
    }

    .card .card-body {
      margin-top: -40px;
    }
  }

  .section4 .grid.grid3 {
    width: 95%;
  }

  .grid.grid3 {
    .head {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .d_block {
      display: inline;
    }

    .swiper_btn_container {
      grid-column: 1 / span 2;
      grid-row: 3;
      margin-bottom: 15px;
    }

    .swiper-container {
      grid-row: 4;
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 0;
    }
  }
}

@media only screen and (max-width: 540px) {
  .font_48 {
    font-size: 34px;
  }

  .grid {
    &.grid1 .right_side {
      width: 100%;
    }

    &.grid2 .left_side {
      width: 100%;
    }
  }

  .mini-section-padding {
    padding: 69px 0;
  }
}

@media only screen and (max-width: 375px) {
  .font_20 {
    font-size: 15px;
  }

  .font_22 {
    font-size: 21px;
  }

  .font_30 {
    font-size: 23px;
  }

  .font_48 {
    font-size: 24px;
  }

  .grid {
    &.grid1 .right_side {
      width: 100%;
    }
  }

  .section4 .grid.grid3 {
    width: 96%;
    padding: 15px;

    ::ng-deep .swiper-slide {
      width: 100% !important;
      min-width: unset;
    }
  }

}