<div class="home_wrapper">
    <section class="section1 w100 mini-section-padding relative">
        <div class="swiper-container w100">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let product of products">
                    <div class="grid grid1 flex-gap-medium">
                        <div class="left_side flex-gap-medium">
                            <div class="head">
                                <h2 class="font_48">{{product.head}}</h2>
                            </div>
                            <div class="about">
                                <p class="font_20">{{product.about}}</p>
                            </div>
                            <a [routerLink]="['/products/', product.url]">
                                <div class="btn">
                                    <p class="font_20">READ MORE</p>
                                </div>
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="img_container">
                                <img [src]="product.img" alt="" *ngIf="product.img">
                                <video *ngIf="product.video" muted autoplay loop playsinline
                                    style="pointer-events: none;">
                                    <source [src]="product.video" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper_btn_container relative">
            <div class="swiper-button-prev">
                <img src="assets/images/right-arrow.png" alt="" class="red">
                <img src="assets/images/right-white-arrow.png" alt="" class="white">
            </div>
            <div class="swiper-button-next r-180">
                <img src="assets/images/right-arrow.png" alt="" class="red">
                <img src="assets/images/right-white-arrow.png" alt="" class="white">
            </div>
        </div>
    </section>

    <section class="section2 w100 mini-section-padding relative">
        <div class="grid grid2 flex-gap-big">
            <div class="left_side">
                <div class="img_container">
                    <img src="assets/images/home/about.png" alt="">
                </div>
            </div>
            <div class="right_side">
                <div class="title mb-25">
                    <div class="bottom_line">
                        <p class="font_14">ABOUT US</p>
                    </div>
                </div>
                <div class="head mb-25">
                    <h2 class="font_30">AEGIOS FOR ALL YOUR PACKAGING NEEDS</h2>
                </div>
                <div class="about mb-25">
                    <p class="font_20">
                        Aegios Polyfilms Private Limited is an emerging force in manufacturing
                        sustainable BOPET films, Metalized, BOPP films, and Polyester (Resins & Chips) in India. Born
                        under the Atmanirbhar India Mission, we combine advanced European technologies with a strong
                        focus on recycling and green production.
                    </p>
                </div>
                <a routerLink="/about">
                    <div class="btn">
                        <p class="font_20">READ MORE</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="section3 w100 mini-section-padding relative">
        <div class="w100">
            <div class="grid grid3">
                <div class="title mb-25">
                    <div class="bottom_line">
                        <p class="font_14">Our Products</p>
                    </div>
                </div>
                <div class="head mb-25">
                    <h2 class="font_30">ENHANCING THE PACKAGING QUALITY WITH INNOVATIVE <span class="d_block"> AND
                            SUSTAINABLE PRODUCTS</span></h2>
                </div>
                <div class="swiper_btn_container relative">
                    <div class="swiper-button-prev">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                    <div class="swiper-button-next r-180">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-head w100">
                                    <img src="assets/images/home/BOPET.jpg" alt="BOPET Card">
                                </div>
                                <div class="card-body">
                                    <div class="card_text_wrapper">
                                        <div class="heading-title mb-25">
                                            <a routerLink="/product/bopet-films">
                                                <h2 class="font_22 red-color">BOPET Films</h2>
                                            </a>
                                        </div>
                                        <div class="p_text mb-25">
                                            <span class="font_15" style="visibility:hidden;">Coming Soon</span>
                                            <p class="font_15 grey-color">Our Biaxially-Oriented Polyethylene
                                                Terephthalate
                                                (BOPET)
                                                films...</p>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a routerLink="/product/bopet-films" class="font_17">
                                            Reade More
                                            <img src="assets/images/right-white-arrow.png" class="more-btn-img r-180"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-head w100">
                                    <img src="assets/images/home/metalized-films.jpg" alt="Metalized-Films Card">
                                </div>
                                <div class="card-body">
                                    <div class="card_text_wrapper">
                                        <div class="heading-title mb-25">
                                            <a routerLink="/product/metalized-films">
                                                <h2 class="font_22 red-color">Metalized Films</h2>
                                            </a>
                                        </div>
                                        <div class="p_text mb-25">
                                            <span class="font_15" style="visibility:hidden;">Coming Soon</span>
                                            <p class="font_15 grey-color">We take immense pride in our diverse range of
                                                exclusive...</p>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a reouterLink="/products/metalized-films" class="font_17">
                                            Reade More
                                            <img src="assets/images/right-white-arrow.png" class="more-btn-img r-180"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-head w100">
                                    <img src="assets/images/home/bopp-film.jpg" alt="BOPP Card">
                                </div>
                                <div class="card-body">
                                    <div class="card_text_wrapper">
                                        <div class="heading-title mb-25">
                                            <a routerLink="/product/bopp-films">
                                                <h2 class="font_22 red-color">BOPP Films</h2>
                                            </a>
                                        </div>
                                        <div class="p_text mb-25">
                                            <span class="font_15" style="visibility:visible;">Coming Soon</span>
                                            <p class="font_15 grey-color">BOPP films (Biaxially Oriented PolyPropylene
                                                Films) are...</p>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a routerLink="/product/bopp-films" class="font_17">
                                            Reade More
                                            <img src="assets/images/right-white-arrow.png" class="more-btn-img r-180"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-head w100">
                                    <img src="assets/images/home/resin-chips.jpg" alt="Resin-chips Card">
                                </div>
                                <div class="card-body">
                                    <div class="card_text_wrapper">
                                        <div class="heading-title mb-25">
                                            <a routerLink="/product/polyester-films">
                                                <h2 class="font_22 red-color">POLYESTER</h2>
                                            </a>
                                        </div>
                                        <div class="p_text mb-25">
                                            <span class="font_15" style="visibility:hidden;">Coming Soon</span>
                                            <p class="font_15 grey-color">At Aegios, we offer a wide range of premium
                                                Polyester Resins...</p>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a routerLink="/product/polyester-films" class="font_17">
                                            Reade More
                                            <img src="assets/images/right-white-arrow.png" class="more-btn-img r-180"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section4 w100 mini-section-padding relative">
        <div class="w100">
            <div class="grid grid3">
                <div class="title mb-25">
                    <div class="bottom_line">
                        <p class="font_14">Our applications</p>
                    </div>
                </div>
                <div class="head mb-25">
                    <h2 class="font_30">PROVIDING END-TO-END SOLUTIONS FOR EVERY <span class="d_block"> BUSINESS
                            NEEDS</span></h2>
                </div>
                <div class="swiper_btn_container relative">
                    <div class="swiper-button-prev">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                    <div class="swiper-button-next r-180">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="block block1">
                                <div class="icon mb-25">
                                    <img src="assets/images/home/flexible-packaging.png" alt="">
                                </div>
                                <div class="heading-text mb-20">
                                    <a href="/team-details">
                                        <h2 class="font_20">Flexible Packaging</h2>
                                    </a>
                                </div>
                                <div class="p_text">
                                    <p class="font_17 grey-color">Crafting tailored solutions with next-generation
                                        packaging innovations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="block block2">
                                <div class="icon mb-25">
                                    <img src="assets/images/home/print-lamination.png" alt="">
                                </div>
                                <div class="heading-text mb-20">
                                    <a href="/team-details">
                                        <h2 class="font_20">Paper Lamination</h2>
                                    </a>
                                </div>
                                <div class="p_text">
                                    <p class="font_17 grey-color">Elevating paper with innovative and protective
                                        laminations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="block block3">
                                <div class="icon mb-25">
                                    <img src="assets/images/home/labels.png" alt="">
                                </div>
                                <div class="heading-text mb-20">
                                    <a href="/team-details">
                                        <h2 class="font_20">Labels</h2>
                                    </a>
                                </div>
                                <div class="p_text">
                                    <p class="font_17 grey-color">Creating lasting impressions with expert labelling
                                        solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="block block4">
                                <div class="icon mb-25">
                                    <img src="assets/images/home/industrial.png" alt="">
                                </div>
                                <div class="heading-text mb-20">
                                    <a href="/team-details">
                                        <h2 class="font_20">Industrial</h2>
                                    </a>
                                </div>
                                <div class="p_text">
                                    <p class="font_17 grey-color">Providing cutting-edge packaging solutions for diverse
                                        industrial needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>