<div class="home_wrapper">
    <section class="section1 w100 mini-section-padding relative">
        <div class="swiper-container w100">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let product of products" data-swiper-autoplay="2000">
                    <div class="grid grid1 flex-gap-medium">
                        <div class="left_side flex-gap-medium">
                            <div class="head">
                                <h2 class="font_48">{{product.head}}</h2>
                            </div>
                            <div class="about">
                                <p class="font_20">{{product.about}}</p>
                            </div>
                            <a [routerLink]="product.url">
                                <div class="btn">
                                    <p class="font_20">READ MORE</p>
                                </div>
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="img_container">
                                <img [src]="product.img" alt="" *ngIf="product.img">
                                <video controls *ngIf="product.video" muted autoplay loop style="pointer-events: none;">
                                    <source [src]="product.video" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper_btn_container relative">
            <div class="swiper-button-prev">
                <img src="assets/images/right-arrow.png" alt="" class="red">
                <img src="assets/images/right-white-arrow.png" alt="" class="white">
            </div>
            <div class="swiper-button-next r-180">
                <img src="assets/images/right-arrow.png" alt="" class="red">
                <img src="assets/images/right-white-arrow.png" alt="" class="white">
            </div>
        </div>
    </section>

    <section class="section2 w100 mini-section-padding relative">
        <div class="grid grid2 flex-gap-big">
            <div class="left_side">
                <div class="img_container">
                    <img src="assets/images/home/about.png" alt="">
                </div>
            </div>
            <div class="right_side">
                <div class="title mb-25">
                    <div class="bottom_line">
                        <p class="font_14">ABOUT US</p>
                    </div>
                </div>
                <div class="head mb-25">
                    <h2 class="font_30">AEGIOS FOR ALL YOUR PACKAGING NEEDS</h2>
                </div>
                <div class="about mb-25">
                    <p class="font_20">
                        Aegios Polyfilms Private Limited is an emerging force in manufacturing
                        sustainable BOPET films, Metalized, BOPP films, and Polyester (Resins & Chips) in India. Born
                        under the Atmanirbhar India Mission, we combine advanced European technologies with a strong
                        focus on recycling and green production.
                    </p>
                </div>
                <a routerLink="/about">
                    <div class="btn">
                        <p class="font_20">READ MORE</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="section3 w100 mini-section-padding relative">
        <div class="swiper-container w100">
            <div class="grid grid3">
                <div class="title mb-25">
                    <div class="bottom_line">
                        <p class="font_14">Our Products</p>
                    </div>
                </div>
                <div class="head mb-25">
                    <h2 class="font_30">ENHANCING THE PACKAGING QUALITY WITH <span class="d_block">INNOVATIVE AND
                            SUSTAINABLE PRODUCTS</span></h2>
                </div>
                <div class="swiper_btn_container relative">
                    <div class="swiper-button-prev">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                    <div class="swiper-button-next r-180">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="grid grid4">

                </div>
            </div>
        </div>
    </section>

    <section class="section4 w100 mini-section-padding relative">
        <div class="swiper-container w100">
            <div class="grid grid3">
                <div class="title mb-25">
                    <div class="bottom_line">
                        <p class="font_14">Our applications</p>
                    </div>
                </div>
                <div class="head mb-25">
                    <h2 class="font_30">PROVIDING END-TO-END SOLUTIONS<span class="d_block">FOR EVERY BUSINESS
                            NEEDS</span></h2>
                </div>
                <div class="swiper_btn_container relative">
                    <div class="swiper-button-prev">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                    <div class="swiper-button-next r-180">
                        <img src="assets/images/right-arrow.png" alt="" class="red">
                        <img src="assets/images/right-white-arrow.png" alt="" class="white">
                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="grid grid4">

                </div>
            </div>
        </div>
    </section>

</div>